node_modules
dist
dist-ssr
*.local
.env.local
.env.*.local

logs
*.log
npm-debug.log*

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase
.firebase/
.firebaserc
firebase-debug.log
firestore-debug.log
ui-debug.log

# Python
__pycache__/
*.pyc
.venv/
.env
